#panel {
    background-color: lightseagreen;
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: panel-sea; /* Nombre de la animaci贸n */
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes panel-sea {
  0% { /* Desde el inicio de la animaci贸n */
    left: 10px;
  }
  50% { /* En la mitad de la animaci贸n */
    left: 400px;
  }
  100% { /* Al finalizar la animaci贸n */
    left: 10px;
  }
}

/** Sintaxis Abreviada
#panel {  
   background-color: lightseagreen;  
   position: relative;  
   width: 100px;  
   height: 100px;  
   animation: panel-sea 5s infinite;  
} 
 */

 