:root {
    --main-color: #507fff;
    /* blue;*/
    --secondary-color: #2e31cc;
    /* red;*/
    --accent-color: #ff5733;
    /* green;*/
    --verdecito: #28a745;
    /* green;*/
    --black-standard: #131314;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Notacion: Los comentarios en CSS se hacen con (comentario)

snake_case: las_palabras_se_separan_con_guion_bajo

kebab-case: las-palabras-se-separan-con-guion-medio

camelCase: lasPalabrasSeSeparanConMayuscula

PascalCase: LasPalabrasSeSeparanConMayuscula (la primera tambien)
*/


div {
    width: 200px;
    height: 100px;
    background-color: cornsilk;
    /* color: #fff8dc; */

    color: var(--secondary-color);
    /* blue;*/

    p {
        color: var(--accent-color);
        /*color: red;*/
    }

}

p {
    color: var(--verdecito);
    /* green;*/
    font-size: 14px;
    /*font-size: 0.5em;font-size: 1.5em;font-size: 1em; font-size: 16px; */
}

#caja {
    width: 50%;
    /*sobre el ancho de la pantalla*/
    height: 50%;
    background-color: tan;
}

#caja2 {
    width: 50vw;
    /* ancho de la pantalla*/
    height: 25vh;
    /*background: linear-gradient(45deg, #c9d0e5, #d2f04b, #ff5733, #2e31cc);
    /*Gradiente lineal: angulo en grados (0deg, 45deg, 90deg, 180deg)*/
    background: radial-gradient(circle, #c9d0e5, #d2f04b, #ff5733, #2e31cc);
    /*Gradiente radial: circle (círculo) o ellipse (elipse)*/
    background: conic-gradient(from 90deg, #c9d0e5, #d2f04b, #ff5733, #2e31cc);
    /*Gradiente cónico: from (desde) ángulo en grados*/
    /* background-color: lightskyblue; */
}

main {
    /*TRUCO PARA MANTENER EL FOOTER ABAJO DE LA PÁGINA */
    min-height: 85vh;
    /*alto de la página*/
}

footer {
    background-color: var(--black-standard);
    color: whitesmoke;
    /*color: rgb(250,249,249); color: #f0f0f0;*/
    /*
    color: rgba(255,248,220,0); Es la transparencia
    Medio opaco es 0.5 aprox, Opaco completamente 1 y Totalmente transparente 0
    */
    min-height: 5vh;
}