:root {
    --main-color: #507fff; /* blue;*/
    --secondary-color: #2e31cc; /* red;*/
    --accent-color: #ff5733; /* green;*/
    --verdecito: #28a745; /* green;*/
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Notacion: Los comentarios en CSS se hacen con (comentario)

snake_case: las_palabras_se_separan_con_guion_bajo

kebab-case: las-palabras-se-separan-con-guion-medio

camelCase: lasPalabrasSeSeparanConMayuscula

PascalCase: LasPalabrasSeSeparanConMayuscula (la primera tambien)
*/


div{
    color: var(--secondary-color); /* blue;*/

    p{
        color: var(--accent-color); /*color: red;*/
    }

}

p{
    color: var(--verdecito)   /* green;*/
    /* font-size: 20px; */
    /*font-size: 1em;*/
}

