*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: var(--negro);
}

:root {
  --rojo: red;
  --azul: blue;
  --amarillo: yellow;
  --blanco: white;
  --bauhaus: whitesmoke;
  --negro: black;
}

/* MOBILE 768*/
#contenedor {
  /* Creando cascada */
  display: grid;
  grid-template-areas:
    "rojo1"
    "rojo2"
    "azul1"
    "amarillo1"
    "bauhaus"
    "blanco"
    "azul2"
    "amarillo2";
  gap: 1em;
  margin: 1em;
  background-color: var(--negro);
}

#rojo1 {
    grid-area: rojo1;
    background-color: var(--rojo);
    height: 60px;
}
.rojo2 {   
    grid-area: var(--rojo);
}
article {   
    grid-area: article;
}
aside {
    grid-area: sidebar;
}
footer {
    grid-area: pie-pagina;
}