* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}

#container {
    min-height: 85vh;
    padding: 20px;
}

#WebsiteTitle {
    text-align: center;
    background-color: lightblue;
    padding: 5px;
    margin: 10px 0px 0 0;
}

#navigationBar {
    background-color: lightblue;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-size: large;

    a {
        text-decoration: none;
        color: darkslategray;
        margin-right: 10px;
        margin-left: 10px;
    }

}

section {
    float: left;
}

#lateralBar {
    float: right;
    background-color: whitesmoke;
    margin: 20px;

    figcaption {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }

    img {
        width: 300px;
        height: auto;
    }
}

#finalBar {
    clear: both;
}

footer {
    text-align: center;
    background-color: lightblue;
    color: darkslategray;
    padding: 10px;
    margin: 0px;
}


@media only screen and (max-width: 800px) {
    #lateralBar {
        float: none;
        margin: 0 auto;
        text-align: center;

        img {
            width: 80%;
            height: auto;
        }
    }
}