img {
  animation-duration: 5s;
  animation-name: luna; /* nombre de la animación, que se corresponde con el nombre del @keyframes */
  animation-iteration-count: infinite; /* si queremos que se repita infinitamente */
  animation-direction: alternate;
  /* Para que no salte de principio a fin, y transicione de forma natural se alterna el movimiento */
   width: 5%; /* tamaño inicial de la imagen, que se corresponde con el fotograma del 0% del @keyframes */
}

@keyframes luna {
  from { /* fotograma inicial, se corresponde con el 0% del @keyframes */
    margin-left: 100%;
    width: 5%;
  }

  to { /* fotograma final, se corresponde con el 100% del @keyframes */
    margin-left: 0%;
    width: 5%;
  }

  /* nuevo fotograma al 75 % se vuelve más grande y se le aplica margen izdo.*/
  75% {
    margin-left: 25%;
    width: 25%
  }
}
