* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --bg-rojo: red;
  --bg-azul: blue;
  --bg-amarillo: yellow;
  --bg-blanco: white;
  --bg-bauhaus: whitesmoke;
  --bg-negro: black;
}

body {
  background-color: var(--bg-negro);
}

/** PARA MóBIL (menos de 768px) */

#contenedor {
  /* Creando grid */
  display: grid;
  
  /*
  grid-template-columns: 1fr;
  OBS: se puede poner pero como se entiende que ocuparía todo el ancho, se evita
  */

  grid-template-areas:
    "rojo1"
    "rojo2"
    "azul1"
    "amarillo1"
    "bauhaus"
    "blanco"
    "azul2"
    "amarillo2";

  gap: 1em;
  margin: 1em;
  padding-top: 10px;
}

#rojo1 {
  grid-area: rojo1;
  background-color: var(--bg-rojo);
  height: 60px;
}

#rojo2 {
  grid-area: rojo2;
  background-color: var(--bg-rojo);
  height: 60px;
}

#azul1 {
  grid-area: azul1;
  background-color: var(--bg-azul);
  height: 60px;
}

#amarillo1 {
  grid-area: amarillo1;
  background-color: var(--bg-amarillo);
  height: 60px;
}

#bauhaus {
  grid-area: bauhaus;
  background-color: var(--bg-bauhaus);
  /* height: auto; */
  text-align: center;

  h1 {
    font-size: 50px;
  }

  p{
    font-size: small;
    margin: 10px;
    padding: 10px 20px;
  }
}

#blanco {
  grid-area: blanco;
  background-color: var(--bg-blanco);
  height: 60px;
}

#azul2 {
  grid-area: azul2;
  background-color: var(--bg-azul);
  height: 60px;
}

#amarillo2 {
  grid-area: amarillo2;
  background-color: var(--bg-amarillo);
  height: 60px;
}

/** PARA TABLET (entre 768 y 1024) */

@media only screen and (min-width: 768px) { /* mínimo 768 hasta 1024 */

  #contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "azul1 azul1 azul1"
      "bauhaus bauhaus bauhaus"
      "blanco azul2 amarillo1"
      "rojo1 rojo2 rojo2"
      "amarillo2 rojo2 rojo2"
      "amarillo2 rojo2 rojo2"
      ;
  }

  #azul1, #azul2, #blanco, #amarillo1{
    height: 100px; /* altura */
  }

  #rojo1{
    height: 150px; /* altura */
  }

  #rojo2{
    height: 500px; /* altura */
  }

  #amarillo2{
    height: 334px; /* medida menos los 16px del 1em */
  }

  #bauhaus {
    text-align: right;
    padding-right: 20px;
  }

}

/** PARA DESKTOP (más de 1024) */
@media only screen and (min-width: 1024px) { /* mínimo 1024 a más */

  #contenedor {
    grid-template-columns: repeat(6, 1fr); /* 6 columnas iguales */
    grid-template-areas:
      "rojo1 rojo2 rojo2 azul1 azul1 azul1"
      "amarillo1 rojo2 rojo2 bauhaus bauhaus bauhaus"
      "amarillo1 rojo2 rojo2 bauhaus bauhaus bauhaus"
      "amarillo1 rojo2 rojo2 blanco azul2 amarillo2"
      ;
  }

  #azul1, #azul2, #blanco, #amarillo2{
    height: 100px; /* altura */
  }

  #rojo1{
    height: 150px; /* altura */
  }

  #rojo2{
    height: 600px; /* altura */
  }

  #amarillo1{
    height: 434px; /* altura */
  }

  #bauhaus {
    height: 300px;
    text-align: right;
    padding-right: 20px;
  }

}